// colors (taken from the default theme)
// $accentColor = #3eaf7c
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34
// $arrowBgColor = #ccc

// First attempt
//$borderColor = #cc2120
//$accentColor = #ff2928

// Second attempt
$accentColor = #cc2120

// Overriding styles found in the default
h2 {
    clear: both
}

.page-edit {
    clear: both
}