<template>
<div class="npc-info-box">
<table>
    <thead>
        <tr>
        <th colspan="4">Statbox</th>
        </tr>
    </thead>
    <tbody>
    <tr>
    <td v-for="attr in ['ST', 'DX', 'IQ', 'HT']">
        <span class="npc-attr">{{ attr }}</span>: {{ character | val(attr) }}
    </td>
    </tr>
    <tr class="trait-list" v-if="traits.length > 0">
        <td colspan="4"><b>Known traits</b>: {{ traits | nameList }}</td>
    </tr>
    </tbody>
</table>
</div>
</template>

<script>
import Vue from "vue";
import npcs from "./npcs.json";

Vue.filter("val", function(coll, name) {
  return coll.filter(x => x.name === name)[0].value;
});

Vue.filter("nameList", function(coll) {
  return coll.map(x => x.name).join(", ");
});

function isTrait(attr) {
  return (
    attr.type === "advantage" ||
    attr.type === "disadvantage" ||
    attr.type === "quirk" ||
    attr.type === "perk"
  );
}

export default {
  computed: {
    character: function() {
      return npcs[this.name];
    },
    traits: function() {
      return npcs[this.name].filter(isTrait);
    }
  },
  props: {
    name: String
  }
};
</script>

.<style scoped>
.npc-info-box {
  float: right;
  max-width: 400px;
  width: 50%;
  text-align: center;
  margin-top: 1ex;
  margin-bottom: 1ex;
  margin-left: auto;
  margin-right: auto;
}

.npc-attr {
  font-weight: bold;
}

.trait-list {
  text-align: left;
}

table {
  display: table;
  width: 100%;
}

@media screen and (max-width: 40em) {
  .npc-info-box {
    float: none;
    width: 100%;
    margin: auto;
  }
}
</style>



